<h1>Enter New Password<h1>

<%= form_with model: @user, url: password_resets_path(token: params[:token]), method: :patch, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= f.submit "Update Password", class: "btn btn-primary" %>
  </div>
<% end %>