<%= form_with model: Current.user, url: password_path(Current.user), method: :patch do |f| %>
  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "password", class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "password", class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.submit "Update Password", class: "btn btn-primary" %>
  </div>
<% end %>